<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Elegant New Tab</title>
	<link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
	<!-- <link rel="icon" type="image/x-icon" sizes="16x16" href="chrome://theme/IDR_HISTORY_FAVICON"> -->

	<script src="/lib/jquery-2.1.3.min.js"></script>
	<script src="/resources/js/main.js"></script>
	<script src="/lib/MaterialDesign//material.min.js"></script>
	<script src="/lib/MaterialDesign/ripples.min.js"></script>
	<link rel="stylesheet" href="/lib/reset.css">
	<link rel="stylesheet" href="/lib/MaterialDesign/material.min.css">
	<link rel="stylesheet" href="/lib/MaterialDesign/ripples.min.css">
	<link rel="stylesheet" href="/resources/css/weather.css">
	<link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>

	<div class="bg">&nbsp;</div>
	<div class="overlay">&nbsp;</div><br>
	<div class="main-content">

		<div class="weather-container">
			<div id="weather" class="inline-block"></div>
			<div class="weather-text-container">
				<a id="location" href="#" class="weather-info-button btn btn-default">
					<img class="favico" src="/resources/images/location.svg">
					<span class="favico-text" id="loc"></span>
				</a>
				<a id="weatherInfo" href="#" class="weather-info-button btn btn-default">
					<div>
						<div class="pull-left">
							<span class="favico-text favico-text-large" id="curr"></span>
						</div>
						<div class="inline-block favico-text-smaller favico-text">o</div><div class="favico-text favico-text-smaller" id="thermo"></div>
					</div>
					<div class="favico-text forecast-text" id="cond"></div>
				</a>
			</div>
		</div>

		<div class="search-container">
			<input id="search-bar" type="text" class="form-control empty" placeholder="Google Search | &quot;Don't sweat the small stuff. It's all small stuff&quot;">
			<img class="search-icon" src="/resources/images/search.svg"/>
		</div>

		<div id="top" class="top-results">
			<div class="row0 clearfix top-site-row"></div>
			<div class="row1 clearfix top-site-row"></div>
			<div class="row2 clearfix top-site-row"></div>
			<div class="row3 clearfix top-site-row"></div>
		</div>


	</div> 

</body>
</html>
