/*Global*/
html {
	min-height: 640px;
	min-width: 900px;
}

::-webkit-input-placeholder {
   color: #444;
}


/*Over-ride*/
.btn {
	text-transform:none;
}




/*Common*/
.inline-block {
	display: inline-block;
}

.pull-left {
	float: left;
}

.hidden {
	display: none;
}

.clearfix {
	clear: both;
}

.bg, .overlay {
	position: absolute;
	-webkit-filter: blur(5px);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}

.overlay {
	/*background-image: linear-gradient(160deg,#e0be00,#dc4225);*/
	/*background-image: linear-gradient(160deg,#AA131C,#11126B);*/
	/*background-image: linear-gradient(200deg,#6A131C,#41126B);*/
	background-image: linear-gradient(200deg,#6A12D6,#417229);
	opacity: 0.3;
}

.main-content {
	z-index: 999;
	margin-top: 100px;
}




/*Images*/
.down-arrow {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.up-arrow {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}




/*Settings*/
.options {
	position: absolute;
	right: 10px;
	top: 10px;
}

.apps, .settings, .history {
	height: 27px;
	margin-left: 10px;
	cursor: pointer;
}

.options ul {
	position: absolute;
	right: 0px;
}
.options ul li {
	/*display: block;*/
	width:240px;
	padding: 10px;
	background: rgba(200,200,200,0.5);
	cursor: pointer;
	border-bottom: 1px solid #ababab;
}

.options ul li:hover {
	opacity: 0.9;
}




/*Weather*/
.weather-container {
	position: relative;
	left: 50%;
	margin-top: 50px;
	width: 320px;
	height: 140px;
}

.weather-text-container {
	position: absolute;
	top: -40px;
	width: 310px;
}

#weather {
	margin-left: -210px;
}

.weather-info-button {
	opacity: 0.65;
}


/*Search*/
.search-container {
	position: relative;
	margin-left: 25%;
	margin-top: 20px;
	width: 50%;
	text-align: center;
}

#search-bar {
	padding: 10px 10px 10px 40px;
	width: -webkit-calc(100% - 50px);
	font-size: 14px;
	color: #222;
	background: url("/resources/images/ent-EEEEEE-0.65.png");
}

.search-icon {
	position: absolute;
	left: 10px;
	top: 11px;
	height: 24px;
}




/*Top Sites*/
.top-results {
	margin: 50px auto;
	text-align: center;
	width: 900px;
}

.top-site, .weather-info-button {
	float: left;
	position:relative;
	display: inline-block;
	background-color: #eee !important;
	margin: 5px 5px;
	width: 260px;
	padding: 15px;
	color: #000;
}

.top-site {
	opacity: 0;
}

.close {
	/*display: none;*/
	position: absolute;
	top: 16px;
	right: 4px;
	background-image: url("/resources/images/ent-close.svg");
	height: 20px;
	width: 20px;
	background-size: cover;
}

.close:hover {
	transition-duration: 0.2s;
	top:14px;
	right: 2px;
	height: 25px;
	width: 25px;
}

.animate-up {
	-webkit-transform: translate(0px,70px);
	-webkit-animation: moveUp 0.4s ease forwards;
	animation: moveUp 0.4s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translate(0px,0px); opacity: 0.65; }
}

.favico {
	height:20px;
	width:20px;
	float: left;
}

.favico-text {
	margin-left: 5px;
	margin-top: 4px;
	font-size: 14px;
	display: inline-block;
	width: 200px;
	height: 15px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.favico-text-large {
	height: 50px;
	width: auto;
	font-size: 50px;
}

.forecast-text {
	font-size: 20px;
	height: 20px;
	text-align: right;
	position: absolute;
	right: 20px;
}

.favico-text-smaller {
	margin-left: 2px;
	width: auto;
	/*float: right;*/
	font-size: 10px;

}
