/*Global*/
html {
	min-height: 640px;
	min-width: 900px;
}




/*Over-ride*/
.btn {
	text-transform:none;
}




/*Common*/
.inline-block {
	display: inline-block;
}

.pull-left {
	float: left;
}

.hidden {
	display: none;
}

.clearfix {
	clear: both;
}

.bg, .overlay {
	position: absolute;
	-webkit-filter: blur(3px);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}

.overlay {
	/*background-image: linear-gradient(160deg,#e0be00,#dc4225);*/
	background-image: linear-gradient(160deg,#AA131C,#11126B);
	opacity: 0.3;
}

.main-content {
	z-index: 999;
}




/*Images*/
.down-arrow {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.up-arrow {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}




/*Weather*/
.weather-container {
	position: relative;
	left: 50%;
	margin-top: 50px;
	width: 500px;
	height: 140px;
}

.weather-text-container {
	position: absolute;
	top: -40px; 
}

#weather {
	margin-left: -210px;
}




/*Quote*/

.quote-container {
	margin-left: 25%;
	/*margin-top: 50px;*/
	width: 50%;
	text-align: center;
}

.quote {
	padding: 10px;
	background: url("http://1x1px.me/AAAAAA-0.5.png");
	text-align: center;
}




/*Search*/
.search-container {
	/*position: relative;*/
	margin-left: 25%;
	margin-top: 20px;
	width: 50%;
	text-align: center;
}

#search-bar {
	padding: 10px;
	width: -webkit-calc(100% - 20px);
	font-size: 16px;
	color: #222;
	background: url("http://1x1px.me/AAAAAA-0.5.png");
}

#search-bar:focus {
	background: url("http://1x1px.me/AAAAAA-0.5.png");
}




/*Top Sites*/
.top-results {
	margin: 50px auto;
	text-align: center;
	width: 900px;
}

.top-site, .weather-info-button {
	float: left;
	position:relative;
	display: inline-block;
	background-color: #ccc !important;
	margin: 5px 5px;
	width: 260px;
	padding: 15px;
	color: #000;
}

.top-site {
	opacity: 0;
}

.close {
	/*display: none;*/
	position: absolute;
	top: 16px;
	right: 4px;
	background-image: url("/resources/images/close.svg");
	height: 20px;
	width: 20px;
	background-size: cover;
}

.close:hover {
	transition-duration: 0.2s;
	top:14px;
	right: 2px;
	height: 25px;
	width: 25px;
}

.animate-up {
	-webkit-transform: translateY(70px);
	transform: translateY(70px);
	-webkit-animation: moveUp 0.4s ease forwards;
	animation: moveUp 0.4s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 0.72; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 0.72; }
}

.favico {
	height:20px;
	width:20px;
	float: left;
}

.favico-text {
	margin-left: 5px;
	margin-top: 4px;
	font-size: 14px;
	display: inline-block;
	width: 200px;
	height: 15px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.favico-text-large {
	height: 50px;
	width: auto;
	font-size: 50px;
}

.forecast-text {
	font-size: 20px;
	height: 20px;
	text-align: right;
	position: absolute;
	right: 20px;
}

.favico-text-smaller {
	margin-left: 2px;
	width: auto;
	/*float: right;*/
	font-size: 10px;

}
