html {
	min-height: 650px;
	min-width: 900px;
}

/*
Oveeride
*/
.btn {
	text-transform:none;
}

.inline-block {
	display: inline-block;
}

.hidden {
	display: none;
}

.clearfix {
	clear: both;
}

.down-arrow {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.up-arrow {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.bg, .overlay {
	position: absolute;
	-webkit-filter: blur(4px);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.overlay {
	background-image: linear-gradient(160deg,#e0be00,#dc4225);
	opacity: 0.3;
}

.main-content {
	z-index: 999;
}


.weather-container {
	position: relative;
	left: 50%;
	margin-top: 50px;
	width: 500px;
	height: 140px;
}

.search-container {
	/*position: relative;*/
	margin-left: 25%;
	margin-top: 20px;
	width: 50%;
	text-align: center;
}

#search-bar {
	width: 100%;
	font-size: 20px;
	color: #222;
}


.top-results {
	margin-top: 50px;
	text-align: center;
}


.top-site {
	/*postion:relative;*/
	display: inline-block;
	background-color: #ccc !important;
	opacity: 0.72;
	/*float: left;*/
	width: 260px;
	padding: 15px;
	color: #000;
}


/*
.top-site-overlay {
	position:absolute; 
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	display:inline-block;
	opacity: 0.4;
}
*/
.favico {
	height:20px;
	width:20px;
	float: left;
}

.favico-text {
	margin-left: 5px;
	margin-top: 4px;
	font-size: 14px;
	display: inline-block;
	width: 200px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.favico-text-small {
	width: 38px;
}

.favico-text-smaller {
	margin-left: 2px;
	width: 20px;
}

.weather-text-container {
	position: absolute;
	top: -50px; 
}

#weather {
	margin-left: -210px;
}